@model AutismHelper.ViewModels.MainVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="col-xl-8">

    <div class="card">
        <div class="card-body pt-3">
            <div class="tab-content pt-2">
                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                    <div>
                        <div>
                            <h4 class="card-title">Album</h4>
                            <hr />
                            <dl class="row">
                                <dt class="col-lg-3 col-md-4 label">
                                    @Html.DisplayNameFor(model => model.AlbumRecord.Id)
                                </dt>
                                <dd class="col-lg-9 col-md-8">
                                    @Html.DisplayFor(model => model.AlbumRecord.Id)
                                </dd>
                                <dt class="col-lg-3 col-md-4 label">
                                    @Html.DisplayNameFor(model => model.AlbumRecord.IDD)
                                </dt>
                                <dd class="col-lg-9 col-md-8">
                                    @Html.DisplayFor(model => model.AlbumRecord.IDD)
                                </dd>
                                <dt class="col-lg-3 col-md-4 label">
                                    @Html.DisplayNameFor(model => model.AlbumRecord.URL)
                                </dt>
                                <dd class="col-lg-9 col-md-8">
                                    <img src="@Model.AlbumRecord.URL" style="width:150px" />

                                </dd>
                                <dt class="col-lg-3 col-md-4 label">
                                    @Html.DisplayNameFor(model => model.AlbumRecord.Label)
                                </dt>
                                <dd class="col-lg-9 col-md-8">
                                    @Html.DisplayFor(model => model.AlbumRecord.Label)
                                </dd>
                                <dt class="col-lg-3 col-md-4 label">
                                    @Html.DisplayNameFor(model => model.AlbumRecord.Color)
                                </dt>
                                <dd class="col-lg-9 col-md-8">
                                    @Html.DisplayFor(model => model.AlbumRecord.Color)
                                </dd>
                            </dl>
                            <div class="form-group">
                                <a asp-action="Edit" asp-route-id="@Model.AlbumRecord.IDD" type="submit" value="Save" class="btn btn-primary">Edit</a>
                                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*</div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumRecord.IDD }) |
        <a asp-action="Index">Back to List</a>
    </div>*@
